<%= render partial: "clients/shared/profile_section", locals: { title: "Winnings" } do %>
  <%= form_with url: client_winners_path, method: :get, local: true do %>
    <%= label_tag :start_date, "Start Date" %>
    <%= date_field_tag :start_date, params[:start_date] %>

    <%= label_tag :end_date, "End Date" %>
    <%= date_field_tag :end_date, params[:end_date] %>

    <%= submit_tag "Filter" %>
  <% end %>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Winning Item</th>
      <th>Amount</th>
      <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <% @winners.each do |winner| %>
      <tr>
        <td><%= winner.id %></td>
        <td><%= winner.item_name %></td>
        <td><%= winner.amount %></td>
        <td><%= winner.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
