<%= stylesheet_link_tag "table", "data-turbo-track": "reload" %>

<h1>Welcome Admin</h1>
<p>This is the admin home page.</p>

<div class="layout">
  <%= render 'layouts/sidebar' %>
  <div class="content">
    <p>Hi, Admin</p>

        <h1 class="mb-4 text-center">Clients</h1>

        <% if @client_data.any? %>
          <div class="container-fluid" style="background-color: white;">
              <table class="table table-striped table-bordered">

                <thead>
                <tr>
                  <th scope="col">Parent Email</th>
                  <th scope="col">Email</th>
                  <th scope="col">Total Deposit</th>
                  <th scope="col">Member Total Deposits</th>
                  <th scope="col">Coins</th>
                  <th scope="col">Total Used Coins</th>
                  <th scope="col">Children Members</th>
                  <th scope="col">Phone Number</th>
                </tr>
                </thead>

                <tbody>
                <% @client_data.each do |client| %>
                  <tr>
                    <td data-label="Parent Email"><%= client[:parent_email] %></td>
                    <td data-label="Email"><%= client[:email] %></td>
                    <td data-label="Total Deposit"><%= number_to_currency(client[:total_deposit]) %></td>
                    <td data-label="Member Total Deposits"><%= number_to_currency(client[:member_total_deposits]) %></td>
                    <td data-label="Coins"><%= client[:coins] %></td>
                    <td data-label="Total Used Coins"><%= client[:total_used_coins] %></td>
                    <td data-label="Children Members"><%= client[:children_members] %></td>
                    <td data-label="Phone Number"><%= client[:phone_number] %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
          </div>
        <% else %>
          <p class="text-center">No clients found. Please add a new client.</p>
        <% end %>
      </div>
</div>
