<%= render partial: "clients/shared/profile_section", locals: { title: "Invites" } do %>
  <%= form_with url: client_invites_path, method: :get, local: true do %>
    <%= label_tag :start_date, "Start Date" %>
    <%= date_field_tag :start_date, params[:start_date] %>

    <%= label_tag :end_date, "End Date" %>
    <%= date_field_tag :end_date, params[:end_date] %>

    <%= submit_tag "Filter" %>
  <% end %>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Invited Member</th>
      <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.id %></td>
        <td><%= invite.member_name %></td>
        <td><%= invite.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
