<%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>

<footer class="footer fixed-bottom">
  <div class="footer__container p-3">
    <%= link_to 'Share', clients_shares_index_path, class: 'footer__link' %>
    <%= link_to 'Invite', clients_invite_people_path, class: 'footer__link' %>
    <%= link_to 'Lottery', clients_lotteries_path, class: 'footer__link' %>
    <%= link_to 'Shop', clients_shops_path, class: 'footer__link' %>

    <% if current_clients_user %>
      <%= link_to 'Me', clients_profiles_path, class: 'footer__link' %>
    <% end %>
  </div>
</footer>