<%= stylesheet_link_tag "sidebar", "data-turbo-track": "reload" %>

<header class="header">
  <div class="container-fluid header__container">

    <div class="header__left">
      <%= image_tag "koda_logo.png", class: "header__img", alt: "logo" %>
      <%= link_to 'System Management ', admin_root_url, class: "header__logo" %>
    </div>

    <div class="header__right">
      <button class="header__language">Change Language</button>

      <div class="header__user">
        <button class="header__username-dropdown">
          <span>Username</span>
          <i class='bx bx-chevron-down'></i>
        </button>

        <div class="header__dropdown-content">
          <a href="#" class="dropdown-item">Profile</a>
          <%= link_to destroy_admins_user_session_path, data:{ turbo_method: :delete }, class: 'btn btn-link dropdown-item' do %>
            Sign Out
          <% end %>

        </div>
      </div>
    </div>

    <div class="header__toggle">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>

  </div>
</header>

<div class="nav" id="navbar">
  <nav class="nav__container">

    <div>
      <a href="#" class="nav__link nav__logo">
        <i class='bx bxs-disc nav__icon'></i>
        <span class="nav__logo-name"> System Management </span>
      </a>

      <div class="nav__list">
        <div class="nav__items">
          <h3 class="nav__subtitle"> Home </h3>


          <%= link_to admin_root_path, class: "nav__link" do %>
            <i class='bx bxs-dashboard nav__icon'></i>
            <span class="nav__name">Homepage</span>
          <% end %>


          <div class="nav__dropdown">
            <a href="#" class="nav__link">
              <i class='bx bx-user nav__icon'></i>
              <span class="nav__name"> Member Management </span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
            </a>

            <div class="nav__dropdown-collapse">
              <ul class="nav__dropdown-content">
                <li><%= link_to 'User List', admin_root_path, class: "nav__dropdown-item"%></li>
                <li><%= link_to 'Items', admins_items_path, class: "nav__dropdown-item" %></li>
              </ul>
            </div>
          </div>

          <div class="nav__dropdown">
            <a href="#" class="nav__link">
              <i class='bx bx-folder nav__icon'></i>
              <span class="nav__name"> Other Management </span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
            </a>

            <div class="nav__dropdown-collapse">
              <ul class="nav__dropdown-content">
                <li><%= link_to 'Categories ', admins_categories_path, class: "nav__dropdown-item" %></li>
                <li><%= link_to 'Tickets', admins_tickets_path, class: "nav__dropdown-item" %></li>
                <li><%= link_to 'Winners', admins_winners_path, class: "nav__dropdown-item" %></li>
                <li><%= link_to 'Offers', admins_offers_path, class: "nav__dropdown-item" %></li>
                <li><%= link_to 'Orders', admins_orders_path, class: "nav__dropdown-item" %></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
</div>