<div class="container mt-4">
  <h3 class="mb-4">Lottery History</h3>

  <% if @lotteries.present? %>
    <% @lotteries.each_with_index do |ticket, index| %>
      <div class="col-12 col-md-10 col-lg-8 mt-4">
        <div class="card shadow-lg border-0 h-100 profile-card">
          <div class="card-body p-4 d-flex flex-column">
            <p class="small mb-2">
              <i class="far fa-star fa-lg"></i>
              <span class="mx-2 text-muted">|</span>
              <strong>Serial Number:</strong> <%= ticket.serial_number %>
            </p>
            <p class="small mb-2">
              <i class="far fa-money-bill-alt fa-lg"></i>
              <span class="mx-2 text-muted">|</span>
              <strong>Amount:</strong> <%= ticket.batch_count %>
            </p>
            <p class="small mb-2">
              <i class="fas fa-coins fa-lg"></i>
              <span class="mx-2 text-muted">|</span>
              <strong>Coin:</strong> <%= ticket.coins %>
            </p>
            <p class="small mb-2">
              <i class="far fa-calendar-alt fa-lg"></i>
              <span class="mx-2 text-muted">|</span>
              <strong>Created At:</strong> <%= ticket.created_at.strftime("%B %d, %Y %H:%M") %>
            </p>
            <p class="small mb-2">
              <i class="fas fa-check-circle fa-lg"></i>
              <span class="mx-2 text-muted">|</span>
              <strong>State:</strong> <%= ticket.state.humanize %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mt-4">
      <%= paginate @lotteries %>
    </div>
  <% else %>
    <p class="text-center">You have no orders to display.</p>
  <% end %>
</div>