<h1>Categories</h1>
<%= link_to 'New Category', new_admins_category_path, class: 'btn btn-primary' %>

<%= form_with url: admins_categories_path, method: :get, local: true do %>
  <div class="form-check mb-3">
    <%= check_box_tag 'show_deleted', 'true', params[:show_deleted] == 'true', id: 'show_deleted', class: 'form-check-input' %>
    <%= label_tag 'show_deleted', 'Show Deleted Items', class: 'form-check-label' %>
  </div>
<% end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Deleted At</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.deleted_at || 'Active' %></td>
      <td>
        <% if category.deleted_at.nil? %>
          <%= link_to 'Edit', edit_admins_category_path(category), class: 'btn btn-outline-warning' %>
          <%= button_to 'Delete', admins_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
        <% else %>
          <%= button_to 'Restore', restore_admins_category_path(category), method: :patch, class: 'btn btn-outline-success' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    document.getElementById('show_deleted').addEventListener('change', function () {
        this.form.submit();
    });
</script>