<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <%= image_tag "koda_logo.png", style: "width: 200px;", alt: "logo" %>
                  <%#= image_tag 'signin_logo.png', class: 'img-fluid w-100 rounded-4 shadow-4', alt: 'Sample image' %>
                  <h4 class="mt-1 mb-5 pb-1">Welcome to Koda Camp </h4>
                </div>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.label :email, "Username", class: "form-label" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.label :password, class: "form-label" %>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                  </div>

                  <%# if devise_mapping.rememberable? %>
<!--                    <div class="field">-->
                      <%#= f.check_box :remember_me %>
                      <%#= f.label :remember_me %>
<!--                    </div>-->
                  <%# end %>

                  <div class="form-check d-flex align-items-center mb-4">
                    <%= f.check_box :remember_me, class: "form-check-input me-2" %>
                    <%= f.label :remember_me, class: "form-check-label" %>
                  </div>


                  <div class="actions">
                    <%= f.submit 'Log In', class: "btn btn-primary btn-block fa-lg gradient-custom-btn mb-3" %>
                  </div>

                <% end %>

                <%#= link_to 'Back to Home', root_path %>
                <%= link_to 'Back to Home', root_path, class: "btn btn-outline-secondary mt-3" %>


              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center gradient-custom">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Nard's Lottery Result Website</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>