<h1><%= action_name.capitalize %> Item</h1>

<%= form_with model: @item, url: action_name == 'new' ? admins_items_path : admins_items_path(@item), local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a Category" %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :minimum_tickets %>
    <%= form.number_field :minimum_tickets %>
  </div>

  <div>
    <%= form.label :batch_count %>
    <%= form.number_field :batch_count %>
  </div>

  <div>
    <%= form.label :online_at %>
    <%= form.datetime_select :online_at %>
  </div>

  <div>
    <%= form.label :offline_at %>
    <%= form.datetime_select :offline_at %>
  </div>

  <div>
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Item.statuses.keys.map { |status| [status.capitalize, status] } %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>