<%= stylesheet_link_tag "ticket_form", "data-turbo-track": "reload" %>

<div class="container-fluid py-4">
  <section class="item-show">
    <div class="container">
      <div class="card mx-auto" style="max-width: 700px;">

        <div class="container-fluid py-4">
          <%= image_tag(@item.image.url, alt: "Image of #{@item.name}", class: "card-img-custom") %>
        </div>

        <div class="card-body">
          <h5 class="card-title text-center mb-3"><%= @item.name %></h5>


          <!--        <div class="progress">-->
          <!--          <div class="progress-bar" role="progressbar" style="width: <%#= (@item.tickets.count.to_f / @item.quantity.to_f * 100).round(2) %>%;" aria-valuenow="<%#= @item.tickets.count %>" aria-valuemin="0" aria-valuemax="<%#= @item.quantity %>">-->
          <!--            <%#= (@item.tickets.count.to_f / @item.quantity.to_f * 100).round(2) %>%-->
          <!--          </div>-->
          <!--        </div>-->

          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar"
                 style="width: <%= [(@item.tickets.count.to_f / @item.minimum_tickets.to_f * 100), 100].min %>%;"
                 aria-valuenow="<%= @item.tickets.count %>"
                 aria-valuemin="0"
                 aria-valuemax="<%= @item.minimum_tickets %>">
              <%= (@item.tickets.count.to_f / @item.minimum_tickets.to_f * 100).round(2) %>%>
            </div>
          </div>

          <p class="text-center">
            <strong><%= @item.tickets.count %></strong> tickets sold out of
            <strong><%= @item.minimum_tickets %></strong> required.
          </p>

          <% if current_clients_user %>
            <% if @item.state == "starting" %>
              <%= form_with url: buy_ticket_clients_lottery_path(@item), method: :post, local: true do |form| %>
                <div class="d-flex justify-content-center align-items-center mb-3">

                  <button type="button" class="btn btn-outline-secondary decrement" style="width: 40px;">-</button>

                  <%= form.number_field :ticket_count, in: 1..current_clients_user.coins, class: "form-control text-center mx-2", min: 1, step: 1, value: 1, style: "width: 100%;" %>

                  <button type="button" class="btn btn-outline-secondary increment" style="width: 40px;">+</button>
                </div>

                <button type="submit" class="btn btn-buy_ticket w-100">Buy Ticket(s)</button>
              <% end %>
            <% else %>
              <p class="text-danger text-center mt-3">This item is not available for purchase at the moment.</p>
            <% end %>
          <% else %>
            <p class="text-center mt-3">Please <%= link_to 'sign in', new_clients_user_session_path %> to purchase
              tickets.</p>
          <% end %>

          <h6 class="mt-4">Serial Numbers</h6>
          <ul>
            <% @user_tickets.each do |ticket| %>
              <li>
                <span class="dot"></span>
                <span class="serial-number"><%= ticket.serial_number %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>