<%= form_with model: @news_ticker, url: @news_ticker.new_record? ? admins_offers_path : admins_category_path(@news_ticker),
              method: @news_ticker.new_record? ? :post : :patch,
              html: { class: 'p-4' },
              local: true do |form| %>

  <div class="d-flex align-items-center mb-4">
    <%= link_to admins_news_tickers_path, class: 'btn btn-outline-secondary btn-sm me-3' do %>
      <i class="bx bx-arrow-back"></i> Back to News Tickers List
    <% end %>
  </div>

  <div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">News Ticker</h5>
    </div>

    <div class="card-body">
      <% if @news_ticker.errors.any? %>
        <div class="alert alert-danger">
          <h6 class="alert-heading">Please fix the following errors:</h6>
          <ul class="mb-0">
            <% @news_ticker.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row mb-3">
        <div class="col-md-6">
          <%= form.label :content, "Content", class: "form-label" %>
          <%= form.text_area :content, rows: 5, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= form.label :content, "Status", class: "form-label" %>
          <%= form.select :status, NewsTicker.statuses.keys.map { |status| [status.titleize, status] }, { prompt: 'Select Status' }, class: 'form-control' %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="text-center mt-4">
            <%= form.submit 'Save News Ticker', class: "btn btn-success px-5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>