<h1>News Tickers</h1>

<%= link_to 'Create New Ticker', new_admins_news_ticker_path, class: 'btn btn-success mb-3' %>

<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th>Content</th>
    <th>Status</th>
    <th>Admin</th>
    <th>Created At</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @news_tickers.with_deleted.each do |news_ticker| %>
    <tr>
      <td><%= news_ticker.content %></td>
      <td><%= news_ticker.status.titleize %></td>
      <td><%= news_ticker.admin.try(:email) %></td> <td><%= news_ticker.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td> <td>
      <%= link_to 'Edit', edit_admins_news_ticker_path(news_ticker) %> |
      <% if news_ticker.deleted_at.present? %>
        <%= button_to 'Restore', restore_admins_news_ticker_path(news_ticker), method: :patch, class: 'btn btn-outline-success' %>
      <% else %>
        <%= button_to 'Delete', admins_news_ticker_path(news_ticker), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
      <% end %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @news_tickers %>